body {
    margin: 0 auto;
  }

.title-container {
    width: 100%;
    text-align: center;
}

.sign-in-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.sign-in-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 325px;
    background-color: lightsalmon;
    background-color:rgba(63, 59, 59, 0.95);
    padding: 15px;
    border-radius: 7px;
}

.sign-in-field {
    margin: 10px auto;
}

.sign-up-link-container {
    margin: 20px;
    font-size: 1.5em;
}

.sign-in-up-button {
    margin: 25px;
}