.task-page {
    display: grid;
    grid-template-rows: 100px 75px 1fr;
    grid-template-columns: 1;
}

.header {
    background-color: lightslategray;
    grid-area: 1/1/2/2;
    display: flex;
}

.create-task {
    display: flex;
    flex-direction: row-reverse;
    background-color: lavender;
    grid-area: 2/1/3/2;
    padding: 10px;
}